<div class="central" >
  <!-- Alertas -->
  <div class="alert alert-success" role="alert" *ngIf="correcto">
    Receta creada
    <strong>correctamente</strong>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorReceta">
    <strong>Error</strong> al crear la receta
  </div>
  <!-- Fin alertas -->
  
  <h1>Crear Receta {{receta.nombre}} </h1>
  <form [formGroup]="formulario" (ngSubmit)="crearReceta()">
  
    <!-- NOMBRE DE LA RECETA -->
    <div class="form-group">
      <label for="nombre">Nombre Receta</label>
      <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Introduce nombre" formControlName='nombre'
        [(ngModel)]='receta.nombre'>
    </div>
  
    <!-- SELECCION DE DIFICULTAD -->
    <div class="form-group">
      <label for="nombre">Dificultad</label>
      <select name="dificultad" class="form-control" id="dificultad" formControlName='dificultad' [(ngModel)]='receta.dificultad'>
        <option value="sinDificultad">Seleccione dificultad</option>
        <option value="facil">Fácil</option>
        <option value="media">Media</option>
        <option value="dificil">Dificil</option>
      </select>
    </div>
  
    <!-- NOMBRE DEL USUARIO -->
    <div class="form-group">
      <label for="usuario">Nombre Usuario {{receta.usuario}} </label>
      <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Nombre usuario" formControlName='usuario'
        [(ngModel)]='receta.usuario'>
    </div>
  
    <!-- PASOS DE LA RECETA -->
    <div class="form-group">
      <label for="pasos">Pasos de la receta</label>
      <br>
      <textarea rows="4" cols="100" name="pasos" class="form-group" placeholder="Añadir pasos" formControlName='pasos' [(ngModel)]='receta.pasos'></textarea>
    </div>
  
    <!-- IMAGEN -->
    <div class="form-group">
      <label for="nombre">Imagen {{receta.img}} </label>
      <input type="text" class="form-control" name="img" id="img" placeholder="Introduce imagen" formControlName='img' [(ngModel)]='receta.img'>
    </div>
  
    <!-- BOTON DE ENVIAR -->
    <button type="submit" class="btn btn-primary" [disabled]='!formulario.valid'>Crear Receta</button>
  
  </form>
  
  {{ formulario.value }}
  
  <br> {{ formulario.status }}


</div>
