<app-navbar></app-navbar>
<div class="contenedor">
  <h1>{{receta.nombre | uppercase}}
    <small> {{receta.dificultad}} </small>
  </h1>
  <hr>
  <div class="row">
    <div class="col-4">
      <img [src]="receta.img" alt="" srcset="" class="img-fluid rounded">
    </div>
    <div class="col-8">
      <p>{{receta.pasos}}</p>
      <a class="btn btn-outline-danger btn-block" [routerLink]="['/listaRecetas']">Volver</a>
    </div>
  </div>
</div>
<!-- <div class="contenedor">
  <h1>{{receta.nombre | uppercase}}
    <small> {{receta.dificultad}} </small>
  </h1>
  <hr>
  <div class="row">
    <div class="col-4">
      <img [src]="receta.img" alt="" srcset="" class="img-fluid rounded">
    </div>
    <div class="col-8">
      <p>{{receta.pasos}}</p>
      <a href="listaRecetas" class="btn btn-outline-danger btn-block" [routerLink]="['/lista-recetas']">Volver</a>
    </div>
  </div>
</div> -->




