.facil {
  border: solid rgb(195, 247, 195) 10px;
  background-color: rgb(195, 247, 195);

}
.mediana {
  border: solid rgb(167, 205, 253) 2px;
  background-color: rgb(167, 205, 253);

}

.dificil {
  border: solid rgb(255, 146, 146) 2px;
  background-color: rgb(255, 146, 146);

}

.contenedorCartas {

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;

}

.imagenCarta {
    width: 136px;
    height: 136px;   
    /* border-radius: 12px; */
}

.carta {
  max-width: 268px;
  min-width: 268px;
  height: 270px;
  margin: 20px;
  padding: 5px;
  text-align: center;
-webkit-box-shadow: 5px 5px 24px -1px rgba(0, 0, 0, 0.52);
/* border-radius: 12px; */

}

.cuerpoCarta{
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(216, 216, 216);
}


