<app-navbar></app-navbar>
 <div class="contenedor" *ngIf="user">
    <h1>Lista de Recetas</h1>
    <hr>
    <div class="contenedorCartas">
      <div *ngFor="let receta of recetas" class="carta">
        <h5>{{receta.nick}}</h5>
        <img class="imagenCarta" src="{{url+receta.img}}" [alt]="receta.nombre">
        <div class="cuerpoCarta">
          <h5 class="nombrCarta">{{receta.nombre}}</h5>
          <h5 class="{{receta.dificultad}}">{{receta.dificultad}}</h5>
          <button (click)="verReceta(receta._id)" [routerLink]="['/registrer']" type="button" class="btn btn-outline-dark btn-block">Ver Receta</button>
        </div>
      </div>
    </div>
</div>



