<h1>Lista de Recetas</h1>
<hr>
<div class="card-deck card-columns text-center">
  <div *ngFor="let receta of recetas" class="receta">
    <div class="card {{receta.dificultad}} ">
      <h5>{{receta.usuario}}</h5>
        <img class="card-img-top img-recetaLista rounded" [src]="receta.img" [alt]="receta.nombre">
        <div class="card-body">
          <h5 class="card-title">{{receta.nombre}}</h5>
          <button (click)="verReceta(receta._id)" type="button" class="btn btn-outline-primary btn-block">Ver Receta</button>
      </div>
    </div>
  </div>
</div>



