.contenedor {
  padding: 5%;
  height: 100%;
  width: 100%;
}

.facil{
  background-color: #2e8b57;
  color: #f8f8f0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px; 
}
.mediana {
  background-color: #4d64a1;
  color: #f8f8f0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;   
}

.dificil {
    background-color: #9c5555;
  color: #f8f8f0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;     
}

h5{
  font-size: 1em;
}

.contenedorCartas {

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;

}

.imagenCarta {
    width: 136px;
    height: 136px;   
    /* border-radius: 12px; */
}

.carta {
  max-width: 268px;
  min-width: 268px;
  height: 270px;
  margin: 20px;
  padding: 5px;
  text-align: center;
-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
border: solid #f8f8f0 2px;

  background-color: #f8f8f0;

}

.cuerpoCarta{
  /* background-color: red; */
  /* margin-left: auto;
  margin-right: auto;
  max-height: 238px; */
  
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(216, 216, 216);
}

.btn {
  color: #cc4d00;
  border: #cc4d00 1px solid;
}

.btn:hover {
  color: #f8f8f0;
  border: #f8f8f0 1px solid;
  background-color: #cc4d00;
}



