.contenedor {
  padding: 5%;
  height: 100%;
  width: 100%;
}

.nombre{
  font-size: 2em;
  margin-right: 15px;
}

.principal{
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  align-items: flex-end;  
}

.grupo{
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  align-items: flex-end;  
}

.fotoPerfil{
  height: 200px;
  width: 200px;
  border-radius: 12px;
  background-color: bisque;
}
