.contenedor {
  padding: 5%;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.nombre{
  font-size: 2em;
  margin-right: 15px;
}

.overlay{
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.329);
  z-index: 3000;
  display: flex;
  justify-content: center;
}



.principalEdit {
  top: 30%;
  width: 70%;
  height: 50%;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}

.formulariEdit{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;
}

.alerta{
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

.bloqueFoto{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}



.fotoPerfil,
.fotoPerfilEdit{
  height: 256px;
  width: 256px;
  border-radius: 12px;
  background-color: #f17a77;
}
.fotoPerfilEdit{
  cursor: pointer;  
}

.correo{
  margin-right: 15px;
  background-color: #d2ddd2;
  padding: 5px;
  border-radius: 10px;
}

.bloqueSave {
  height: 50px;
  width: 150px;
  padding: 5px;
  background-color: #f17a77;
  border-radius: .25rem;
  transition: 0.2s;
  cursor: pointer;
  font-size: 99%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-weight: bold;
  margin-right: 20px;
}

.bloqueSave:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
  font-size: 101%;
}

.bloqueSave:focus {
  outline: none;
}


.editar {
  height: 50px;
  width: 100px;
  padding: 5px;
  background-color: #f17a77;
  border-radius: .25rem;
  transition: 0.2s;
  cursor: pointer;
  font-size: 99%;
  height: 35px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  margin-right: 20px;
}

.editar:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
  font-size: 101%;
}

.editar:focus {
  outline: none;
}

.ediarIcono{
    height: 30px;
    width: 30px;
    background: url('../../../assets/icons/edit.svg') no-repeat center;
    background-size: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

.save {
  height: 30px;
  width: 30px;
  background: url('../../../assets/icons/checked.svg') no-repeat center;
  background-size: 30px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
}
.save:focus {
outline: none;
}

.ayudaBloque{
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

.grupoEdit{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.marco{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.textoInput {
  border-radius: 12px;
  border: none;
  padding: 5px;
  width: 30%;
  transition: 0.6s;
  background-color: #C4D4A4;
  margin-bottom: 5px;
  margin-top: 5px;
}

.textoInput:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.textoInput:focus {
  width: 40%;
}

.bloqueFoto{
  display: flex;
  flex-direction: column;
}

.mensaje{
  background: url('../../../assets/icons/error-triangle.svg') no-repeat center;
  height: 30px;
  width: 30px;
  background-size: 30px;
  cursor: pointer;
}

#upload{
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.btnUpload {
    height: 50px;
    width: 160px;
    /* padding: 5px; */
    background-color: #f17a77;
    border-radius: .25rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    font-size: 99%;
    /* height: 35px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #fff;
    font-weight: bold;
    /* margin-right: 20px; */
}

.btnUpload:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
  font-size: 101%;
}

.btnUpload:focus {
  outline: none;
}

.imgIcon{
  margin-left: 5px;
  height: 30px;
  width: 30px;
  background: url('../../../assets/icons//upload-to-cloud.svg') no-repeat center;
  background-size: 30px;
}


.card {
  background: #fff;
  display: inline-block;
  height: 300px;
  position: relative;
  width: 300px;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bloqueSeguimiento{
  display: flex;
  width: 300px;
  justify-content: space-around;
}

.grupo{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 450px;
}

.bloqueFoto{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 33%;
}

.principal{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
  flex-wrap: wrap;
}


.marcoSeguir {
  top: 15%;
  width: 70%;
  height: 70%;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;

}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.principalSeguidores{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

.cabeceraSeguidos{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* .cerrarSeguidos{
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
} */

.cerrarIcon{
  height: 30px;
  width: 30px;
  background: url('../../../assets/icons/close.svg') no-repeat center;
  background-size: 30px
}

.tituSeguidos{

  font-size: 2.5em;

}

.cerrarSeguidos {
    height: 50px;
    width: 160px;
    /* padding: 5px; */
    background-color: #f17a77;
    border-radius: .25rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    font-size: 99%;
    /* height: 35px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    /* margin-right: 20px; */
}

.segue{
  cursor: pointer;
}

.cerrarSeguidos:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
  font-size: 101%;
}

.cerrarSeguidos:focus {
  outline: none;
}

.bloqueUsers{
  width: 100%;
  height: 500px;
}

.userZone{
  height: auto;  
}
