<app-navbar></app-navbar>
<div class="contenedor">
  <div class="jumbotron" *ngIf="editarPerfil">
    <div class="overlay">
      <form [formGroup]='actualizar' class="principalEdit">
        <div class="formulariEdit">
          <div class="grupoEdit">
            <div class="bloqueSave" *ngIf="actualizar.valid" (click)=' save()'>Guardar
              <button type="submit" class="save"></button>
            </div>
            <div class="marco">
              <div class="ayudaBloque">
                <div class="ayuda">Nombre: </div>
                <div *ngIf="actualizar.controls.nombre.invalid && actualizar.controls.nombre.touched" class="mensaje" title="El nombre es requerido y tiene que contener de 2 a 20 carácteres"></div>
              </div>
              <input class="textoInput" formControlName='nombre' type="text" [(ngModel)]="userConect.nombre">
            </div>
            <div class="marco">
              <div class="ayuda">Apellidos: </div>
              <input class="textoInput" formControlName='apellido' type="text" [(ngModel)]="userConect.apellido">
            </div>
            <div class="marco">
              <div class="ayudaBloque">
                <div class="ayuda">Nick: </div>
                <div class="mensaje" *ngIf="actualizar.controls.nick.invalid && actualizar.controls.nick.touched" title="El Nick es requerido y tiene que contener de 2 a 20 carácteres"></div>
              </div>
              <input class="textoInput" formControlName='nick' type="text" [(ngModel)]="userConect.nick">
            </div>
            <div class="marco">
              <div class="ayudaBloque">
                <div class="ayuda">Correo: </div>
                <div *ngIf="actualizar.controls.email.invalid && actualizar.controls.email.touched" class="mensaje" title="Sigue el ejemplo 'micorreo@micorreo.algo'"></div>
              </div>
              <input class="textoInput" formControlName='email' type="text" [(ngModel)]="userConect.email">
            </div>
            <div class="marco">
              <div class="ayudaBloque">
                <div class="ayuda">Contraseña: </div>
                <div *ngIf="actualizar.controls.password.invalid && actualizar.controls.password.touched" class="mensaje" title="De 4 a 20 carácteres y como mínimo un número y una letra"></div>
              </div>
              <input class="textoInput" formControlName='password' type="password" [(ngModel)]="userConect.password">
            </div>
            <div class="marco">
              <div class="ayudaBloque">
                <div class="ayuda">Repetir contraseña: </div>
                <div *ngIf="actualizar.controls.password2.invalid && actualizar.controls.password2.touched" class="mensaje" title="Contraseñas distintas"></div>
              </div>
              <input class="textoInput" formControlName='password2' type="password" [(ngModel)]="userConect.password2">
            </div>
          </div>
          <div class="bloqueFoto">
            <label for="upload" ><img class="fotoPerfilEdit card" src="{{url+userConect.image}}"></label>
            <label class="btnUpload" for="upload">Subir imagen <div class="imgIcon"></div> </label>
            <input type="file" id='upload'(change)='fileChangeEvent($event)'>
            <!-- <input type="text" formControlName='imagen' [(ngModel)]='userConect.image' > -->
          </div>
        </div>
        <div class="alerta">Rellena todos los campos</div>
      </form>
    </div>
  </div>

<div class="jumbotron" *ngIf="verSigue">
  <div class="overlay">
    <div class="marcoSeguir">
      <div class="principalSeguidores">
        <div class="cabeceraSeguidos">
          <div class="tituSeguidos">Siguiendo</div>
          <div class="cerrarSeguidos" (click)='salirSeguidos()' >Cerrar <div class="cerrarIcon"></div> </div>
        </div>
        <div class="bloqueUsers">
          <div *ngFor="let usuario of userSeguidos" class="userZone">
            <app-min-usuario (cerrarVentana)='cerrarVentanas($event)' [usuario]='usuario'></app-min-usuario>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" *ngIf="verSeguidores">
  <div class="overlay">
    <div class="marcoSeguir">
      <div class="principalSeguidores">
        <div class="cabeceraSeguidos">
          <div class="tituSeguidos">Seguidores</div>
          <div class="cerrarSeguidos" (click)='salirSeguidores()' >Cerrar <div class="cerrarIcon"></div> </div>
        </div>

      </div>
    </div>
  </div>
</div>

  <div class="jumbotron" *ngIf="!editarPerfil">
    <div class="principal">
      <div class="grupo">
        <div class="editar" *ngIf="propio" (click)='editar()'>Editar
          <div class="ediarIcono"></div>
        </div>
        <div class="nombre">{{userPerfil.nick | uppercase }}</div>
        <div class="correo">{{userPerfil.email}}</div>
        <app-btn-seguir [usuario]='userPerfil' *ngIf="!propio"></app-btn-seguir>
      </div>
      <div class="bloqueSeguimiento">
        <div class="segue" (click)='abrirSeguidos()' >Sigue {{sigue}}</div>
        <div class="segue" (click)='abrirSeguidores()' >Seguidores {{seguidores}}</div>
      </div>
      <div class="bloqueFoto">
        <img class="fotoPerfil card" src="{{url+userPerfil.image}}">
      </div>
    </div>
  </div>
  <app-recetas-usuario [usuario]='userPerfil'></app-recetas-usuario>
  </div>



