.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}

.ng-valid.ng-touched:not(form) {
  border: none;
}


.contenedor{
    width: 100%;
    height: 100%;
    padding: 5%;
    background: url("../../../assets/img/fondo_1.jpg") no-repeat center; 
    display: flex;
    justify-content: center;   
    margin-top: 50px;    
}

.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.767);  
    width: 70%;    
    padding: 5px;  
}

.titulo{
    font-size: 300%;
    margin-bottom: 30px;
}

.formulario{
    height: 100%;
    width: 60%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bloque,
.bloqueContra,
.bloqueBoton {

    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.bloque{
    display: flex;
    flex-direction: column;
}
.textoInput {
  border-radius: 12px;
  border: none;
  padding: 5px;
  width: 100%;
  transition: 0.5s;
  background-color: #C4D4A4;
  margin-bottom: 5px;
  margin-top: 5px;
}

.textoInput:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.textoInput:focus {
  width: 80%;
}

.textPass:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

}

.textPass{
    width: 95%;
    height: 100%;
    background-color: #C4D4A4;
    font-size: 1.5em;
    border-radius: 10px;
    padding-left: 5px;
    border: none;
    margin-bottom: 5px;    
}

.textAyuda, .textAyudaContra{
    font-size: 1.2em;
    padding-left: 5px;
}

.textAyudaContra{
    padding-right: 10px;
}

.contra1, .contra2{
    display: flex;
    flex-direction: column;
}

.contra2{
    align-items: flex-end;
}

.bloqueContra{
    display: flex;
    justify-content: space-between;
}

.bloqueBoton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.conectar {
    height: 100%;
    width: 200px;
    font-size: 1.5em;
    border-radius: 25px;
    background-color: #68813c;
    color: #fff;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.conectar:hover {
  cursor: pointer;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}

.conectar:focus {
  outline: none;
}



.toLog {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.toLog:hover {
  cursor: pointer;
}

.toLog:focus {
  outline: none;
}

.toLog::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .3s;
}

.toLog:hover::after {
  width: 100%;
}

.erroForm,
.erroFormP {

    background-color: rgba(255, 0, 0, 0.308);
    border-radius: 12px;
    color: red;
    padding-left: 5px;
}

.erroFormP{
    width: 95%;
}


