<app-navbar></app-navbar>
<div class="contenedor" *ngIf="!user">
  <div class="cuerpo">
    <div class="titulo">¡Únete ya!</div>
    <form [formGroup]='regForm' (ngSubmit)='registro()' class="formulario">
      <div class="bloque">
        <span class="textAyuda">Nombre</span>
        <input type="text" formControlName='nombre' [(ngModel)]='usuario.nombre' class="textoInput" contenteditable="true">
      </div>
      <div class="bloque">
        <span class="textAyuda">Apellidos</span>
        <input type="text" formControlName='apellido' [(ngModel)]='usuario.apellido' class="textoInput" contenteditable="true">
      </div>
      <div class="bloque">
        <span class="textAyuda">Nick</span>
        <input type="text" formControlName='nick' [(ngModel)]='usuario.nick' class="textoInput" contenteditable="true">

      </div>
      <div class="bloque">
        <span class="textAyuda">Correo</span>
        <input type="text" formControlName='email' [(ngModel)]='usuario.email' class="textoInput" contenteditable="true">

      </div>
      <div class="bloqueContra">
        <div class="contra1">
          <span class="textAyuda">Contraseña</span>
          <input type="password" class="textPass">
        </div>
        <div class="contra2">
          <span class="textAyudaContra">Repetir Contraseña</span>
          <input type="password" class="textPass">
        </div>
      </div>
      <div class="bloqueBoton">
        <button type="submit" class="conectar">Crear</button>
      </div>
    </form>
  </div>
</div>

