<div class="navbar"  *ngIf="user">
  <div class="iz">
    <div class="link" [routerLink]="['/listaRecetas']" [routerLinkActive]="['active']" >RECETAS</div>
    <div class="link" [routerLink]="['/listaUsuarios']" [routerLinkActive]="['active']">USUARIOS</div>
  </div>
  <div class="der">
<img class="icono" (click)="irPerfil(user._id)" src="{{url+user.image}}">
    <div class="perfil">{{user.nick}}
      <div class="desplegable">
        <div class="linkD" (click)="irPerfil(user._id)">
          <div class="userI"></div>
          <div class="dText">Perfil</div>
        </div>
        <div class="linkD" (click)="logout()">
          <div class="logout"></div>
          <div class="dText">Logout</div>
        </div>
      </div>
    </div>
    <div class="creaReceta" [routerLink]="['/crearReceta', 'nueva']" >Nueva Receta</div>
  </div>
</div>
<div class="navbar"  *ngIf="!user">
  <div class="iz">
  </div>
  <div class="der">
    <div class="link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</div>
    <div class="link" [routerLink]="['/registrer']" [routerLinkActive]="['active']">Registro</div>
  </div>
</div>