<app-navbar></app-navbar>
<div class="contenedor" *ngIf="!user">
  <div class="cuerpo">
    <div class="titulo">¡Identifícate!</div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="ngForm">
      <div class="formulario">
        <input class="textoCorreo" name = 'email' id="email" formControlName='email' [(ngModel)]='usuario.email' contenteditable="true" placeholder="Correo" ngDefaultControl >
        <input class="textoPass" type="password" formControlName='password' [(ngModel)]='usuario.password' contenteditable="true" placeholder="Contraseña" ngDefaultControl >
      </div>
      <button type="submit"  class="conectar">
        Conectar
      </button>
    </form>
  </div>
</div>
