.seguir{
    background: url('../../../assets/icons/seguir2.svg') no-repeat center;
}
.noSeguir{
    background: url('../../../assets/icons/unfollow2.svg')no-repeat center;
}
.noSeguir,
.seguir{
    background-color: none;
    padding: 5px;
    font-size: 150%;
    padding: 4px;
    box-sizing: border-box;
    background-size: 60px;
    height: 60px;
    width: 60px;
    transition: 0.3s;
    cursor: pointer;    
}

