<app-navbar></app-navbar>
<div class="contenedor">
  <h1>Usuarios</h1>
  <hr>
  <div>
    <div *ngFor="let usuario of usuarios" class="contenedorUsuairos">
      <div class="bloque" *ngIf="usuario._id!=userConect._id">
        <div class="contenedorNombre">
          <span class="nombreUsuario" (click)="ifPerfil(usuario._id)">{{usuario.nick}}</span>
        </div>
        <div class="icon">
          <img class="avatar" (click)="ifPerfil(usuario._id)" alt="" src="{{url+usuario.image}}">
          <app-btn-seguir [usuario]='usuario' ></app-btn-seguir>
        </div>
      </div>
    </div>
  </div>
</div>
