/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@font-face{
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

/* .main-container{
    margin-top: 20px;
} */

.img-recetaLista{
    width: 254px;
    height: 136px;
}

.img-receta{
    width: 454px;
    height: 336px;
}

body{
    margin-bottom: 150px;
    display: block;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0px;
    left:0px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Montserrat';
    background-color: #fff;    
}




